DB_HOST=localhost
DB_PORT=5432
DB_NAME=cloudshield
DB_USER=postgres
DB_PASSWORD=GB16
FLASK_ENV=development
JWT_SECRET=super-secret-jwt-key-cloudshield-plus-123
SECRET_KEY=super-secret-flask-key-cloudshield-plus-456
FERNET_KEY=TgZeFECJ_WD9MTYiVF4OGT2ns_MSZxMYmRkIzbhPCC0=

# Google OAuth Client ID
GOOGLE_CLIENT_ID=870630654060-p427495s5r1fub6v54qsk8hfl8lphg7c.apps.googleusercontent.com
